.header{
    height:60px;
    display:flex;
    align-items:center;
    background-color:#131921;
    position:sticky;
    top:0;
    z-index:100;
}

.header__logo{
    object-fit:contain;
    margin-top:18px;
    margin:0 20px;
    width:100px;
}